<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursework 1 for CST3145</title>
    <!-- link to VUE CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- link to JS file for product -->
    <script src="product.js"></script>
    <style>
        .image{
            height: 30px;
            width: 30px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <div>
                <h2>{{header}}</h2>
            </div>
            <div>
                <div>
                    <input type="text" placeholder="Search Lessons" v-model="searchTerm">
                    <button>Search</button>
                </div>

            </div>
            <div>
                <button v-on:click="showCheckout" v-if="cartItemCount >= 1">View Cart
                    ({{cartItemCount}})</button>
                <button v-else-if="returnToLessons()">View Cart ({{cartItemCount}})</button>
                <button v-else disabled>View Cart ({{cartItemCount}})</button>
            </div>
        </div>



        <div v-if="showLessons">
            <section class="sort-section">
                <div class="sort">
                    <h2>Apply Filters</h2>

                    <div>
                        <input type="checkbox" name="By Subject" id="" v-model="sortBySubject">
                        <span class="checkbox-text">By Subject</span>
                    </div>
                    <div>
                        <input type="checkbox" name="By Location" id="" v-model="sortByLocation">
                        <span class="checkbox-text">By Location</span>
                    </div>
                    <div>
                        <input type="checkbox" name="By Price" id="" v-model="sortByPrice">
                        <span class="checkbox-text"> By Price</span>
                    </div>
                    <div>
                        <input type="checkbox" name="By Availability" id="" v-model="sortByAvailability">
                        <span class="checkbox-text">By Availability</span>
                    </div>

                    <div>
                        <div>
                            <input type="checkbox" name="ascending" id="" v-model="ascending">
                            <span class="checkbox-text"> Ascending Order</span>
                        </div>
                        <div>
                            <input type="checkbox" name="descending" id="" v-model="descending">
                            <span class="checkbox-text">Descending Order</span>
                        </div>
                    </div>

                </div>
            </section>

            <section>
                <!-- display lessons -->
                <div class="lessons" v-for="lesson in searchLessons">
                    <div class="lesson">
                        <div class="image-holder">
                            <img v-bind:src="lesson.image" alt="lesson image" style="height: 350px; width: 350px;">
                        </div>
                        <div>
                            <h2>{{lesson.subject}}</h2>
                            <p>{{lesson.description}}</p>
                            <p>Location: {{lesson.location}}</p>
                            <div class="price-stock">
                                <p> DHS {{lesson.price}}</p>
                                <span>Available Stock: {{lesson.availability - cartCount(lesson.id)}}</span>
                            </div>
                            <button v-on:click="addToCart(lesson)" :disabled="!canAddToCart(lesson)">Add to
                                Cart</button>
                            <div>
                                <span v-if="lesson.availability === cartCount(lesson.id)">Lesson Out of Stock</span>
                                <span v-else-if="lesson.availability - cartCount(lesson.id)">
                                    Hurry now!. {{lesson.availability - cartCount(lesson.id)}} Spaces Left!
                                </span>
                                <span v-else>Spaces Available! Buy Now!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div v-else>
            <!-- checkout functionality -->
            <h2 class="title">{{checkout}}</h2>
            <div>
                <div v-for="lessonID in cartSet" :key="lessonID">

                    <div v-if="lesson = lessons.find(lesson => lesson.id === lessonID)" class="item-data">
                        <div>
                            <img v-bind:src="lesson.image" class="image" alt="lesson image">
                        </div>
                        <div>
                            <h2>subject:{{lesson.subject}}</h2>
                            <p>description:{{lesson.description}}</p>
                            <p>location:{{lesson.location}}</p>
                            <div>
                                <p>price: DHS {{lesson.price}}</p>
                                <span>Available Stock: {{lesson.availability - cartCount(lesson.id)}}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="remove-from-cart" v-on:click="removeFromCart(lessonID)">Remove from Cart</button>
                    </div>

                </div>
            </div>
            <!-- user info -->
            <div>
                <div>
                    <h2 class="order-title">Please enter Order Details</h2>
                    <label for="Name">Customer Name</label> <br>
                    <input type="text" name="" id="" v-model="customerName"> <br>
                    <span class="message" v-if="!isValidText()">Please enter your name (Alphabets Only) and not more
                        than 15 characters.</span><br>
                    <label for="Number">Phone Number</label> <br>
                    <input type="number" name="" id="" v-model="customerNumber"> <br>
                    <span class="message" v-if="!isValidNumber()">Please enter your complete Phone Number (Digits
                        Only)</span>
                </div>
                <button v-if="showCheckoutButton()" v-on:click="checkOut" class="place-order">Buy Now!</button>
                <button disabled v-else class="place-order">Buy Now!</button>
            </div>
        </div>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                // declare app variables
                header: "DAYO's Activity Section",
                checkout: "Checkout Page",
                lessons: lessons,
                showLessons: true,
                cart: [],
                sortedLessons: [...lessons],
                sortByPrice: false,
                sortBySubject: false,
                sortByLocation: false,
                sortByAvailability: false,
                ascending: false,
                descending: false,
                searchTerm: '',
                customerName: '',
                customerNumber: ''

            },
            methods: {
                canAddToCart(lesson) {
                    return lesson.availability > this.cartCount(lesson.id);
                },
                cartEmpty() {

                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                addToCart(lesson) {

                    this.cart.push(lesson.id);                  //add to cart functionality//
                },
                removeFromCart(lessonID) {
                    let index = this.cart.indexOf(lessonID);
                    if (index !== -1) {
                        this.cart.splice(index, 1);
                    }
                },
                returnToLessons() {
                    if (this.showCheckout && this.cart.length <= 0) {
                        this.showLessons = true;
                    }
                },
                showCheckout() {
                    this.showLessons = !this.showLessons;
                },
                showCheckoutButton() {
                    return this.isValidNumber() && this.isValidText()
                },
                isValidNumber() {
                    return /^[1-9]\d*$/.test(this.customerNumber) && this.customerNumber.length === 11;

                },
                isValidText() {
                    return /^[a-zA-Z]+$/.test(this.customerName) && (this.customerName.length >= 3 && this.customerName.length <= 12);

                },
                isCartEmpty() {
                    if (showCheckout && cartItemCount === null) {
                        this.showLessons = true;
                    }
                },
                checkOut() {
                    alert("Order Placed");
                    this.showLessons = !this.showLessons;    //Checkout Page//
                    this.cart = [];
                    this.customerName = ''
                    this.customerNumber = '';
                },
                sortLessons() {
                    this.sortedLessons = [...this.lessons];
                    if (this.sortBySubject) {
                        this.sortedLessons.sort((a, b) => this.sortFunction(a.subject, b.subject));
                    }
                    if (this.sortByPrice) {
                        this.sortedLessons.sort((a, b) => this.sortFunction(a.price, b.price));
                    }
                    if (this.sortByLocation) {
                        this.sortedLessons.sort((a, b) => this.sortFunction(a.location, b.location));
                    }
                    if (this.sortByAvailability) {
                        this.sortedLessons.sort((a, b) => this.sortFunction(a.availability, b.availability))
                    }
                    if (this.descending) {
                        this.sortedLessons.reverse();
                    }
                },
                sortFunction(a, b) {
                    if (typeof a === 'string' && typeof b === 'string') {
                        return a.localeCompare(b);
                    }
                    else return a - b;
                }

            },
            computed: {
                cartItemCount() {
                    return this.cart.length || "";
                },
                cartSet() {
                    return new Set(this.cart)
                },
                searchLessons() {
                    return this.sortedLessons.filter((lesson) => {
                        return lesson.subject.toLowerCase().includes(this.searchTerm.toLowerCase())
                    })
                },

            },
            watch: {
                sortBySubject() {
                    this.sortLessons();
                },
                sortByPrice() {
                    this.sortLessons();
                },
                sortByLocation() {
                    this.sortLessons();
                },
                sortByAvailability() {
                    this.sortLessons();
                },
                ascending() {
                    if (this.ascending) {
                        this.descending = false;
                        this.sortLessons();
                    }
                },
                descending() {
                    if (this.descending) {
                        this.ascending = false;
                        this.sortLessons();
                    }
                }
            }
        })
    </script>
</body>

</html>